<!-- Restaurant Details -->
<h1><%= @restaurant.name %></h1>

<h4>Price Range:  <%= @restaurant.price %></h4>

<h4>Cuisine:
  <% if @restaurant.cuisine %>
    <%= @restaurant.cuisine.cuisine_type %>
  <% end %>
</h4>

<h4>Location:
  <% if @restaurant.location %>
    <%= @restaurant.location.neighborhood %>
  <% end %>
</h4>

<hr>

<!-- Update Restaurant Details -->
<h1>Update <%= @restaurant.name %>'s Details</h1>

<form action="/restaurants/<%=@restaurant.id%>" method="post">

  <input name="_method" type="hidden" value="patch">

  <div class="form-group">
     <label for="name">Update Restaurant Name:</label>
     <input name="name" class="form-control" type="text">
  </div>

  <div class="form-group">
     <label for="price">Update Restaurant Price Range:</label>
     <input name="price" class="form-control" type="text">
  </div>

  <br>
  <button class="btn btn-default">Update Restaurant Details</button>
</form>
<hr>


<!-- Delete Restaurant -->
<form action="/restaurants/<%=@restaurant.id%>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button class="btn btn-default">Delete This Restaurant</button>
</form>

<hr>

<a class="btn btn-default" href="/">Return Home</a>
